<section id="bioraphy">
  <div class="container">
    <h2 class="mt-0 mb-5 text-blue text-center">Agent</h2>
    <each loop='bio,idx
of biography.biography'>
      <div class="card flex-row flex-wrap">

        <div class="card-header border-0">
          <img src="{{bio.image}}" class="card-img-top img-fluid" alt="biography" >
        </div>
          <div class="card-body">
            <h3 class="card-title">{{bio.fullname}}</h3>
            <p class="card-text"><a href="tel:{{bio.phone}}"  class="phone"><i class="fas fa-mobile-alt"></i>{{bio.phone}}</a></p>
            <p class="card-text"><a href="mailto:{{bio.email}}" class="email"><i class="fas fa-envelope"></i>{{bio.email}}</a></p>
            <p class="card-text">{{bio.position}}</p>
            <p class="card-text">{{bio.specialties}}</p>
            <p class="card-text pt-4 pb-3">{{ dataExcerpt(bio.description, '150') }}</p>
            <a class="btn btn-primary btn-blue" href="#inline-bio-{{idx}}" role="button" data-lity>Know More</a>

          </div>
        </div>

        <div id="inline-bio-{{idx}}" style="background:#fff" class="inline lity-hide">
          <div class="details pt-4 px-2">
            <h3 class="card-title">{{bio.fullname}}</h3>

            <p><a href="tel:{{bio.phone}}"><i class="fas fa-mobile-alt"></i>{{bio.phone}}</a></p>
            <p><a href="mailto:{{bio.email}}" class="email"><i class="fas fa-envelope"></i>{{bio.email}}</a></p>
            <p><a href="/" class="website"><i class="fas fa-globe-americas"></i>www.{{bio.website}}</a></p>
            <p> {{bio.position}}</p>
            <p>{{bio.specialties}}</p>
            <p>{{bio.license}}</p>
            <p>420 S 19th StColorado Springs, Colorado</p>

            <p class="pt-4  pb-3">{{bio.description}}</p>
          </div>
        </div>
    </each>
  </div>
</section>
