<extends src='layout.html'>
  <block name='content'>
    <section id="headers" class="headhere">
      <div id="menu" class="menusec">
        <div class="container">
          <div class="row">
            <div class="col mail text-left">
              <p>
                <a href='mailto:{{ site.content[0].email }}'>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                </svg>

                {{ site.content[0].email }}

                <!-- realagent@flymycommunity.com -->
            </a>
              </p>
            </div>
            <div class="col text-center logo pt-4">
              <!-- <img src="/img/logofly.png" /> -->
              <!-- <h2>{{ site.sitedata[0].logoname }}</h2> -->
              <img src="" alt="" class="share-image d-none">
              <img src="{{ site.sitedata[0].logo }}" alt="{{ site.sitedata[0].logo_name }}">
            </div>
              <div class="col conts text-right">
                <p>
                  <a class="phone" href="tel:{{ site.content[0].linkcont }}" target="_blank">
                <span><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                  </svg>
                </span>
                <b class="phone_number">{{ site.content[0].linkcont }}</b>
              </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="mainslider" class="videoslidehere">

          <div id="main-slider" class="">
            <!-- <div style="background-image:url('{{ site.content[0].sliderbg }}');" class="video-background"> -->
            <div class="video-background">
              <div class="video-foreground">
                <iframe src="https://player.vimeo.com/video/{{ site.content[0].videoid }}?background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div id="slider-content">
              <div class="container">
                <span class="video-subheading">{{ site.content[0].slidertext1 }} </span>
                <h1 class="video-heading">{{ site.content[0].slidertext2 }}</h1>
              </div>
            </div>
            <div id="btnslidebtns">
              <div class="container">
                <div class="row">
                  <div class="col btnplay">
                    <a href="//vimeo.com/{{ site.content[0].videoid }}" data-lity, id="one" , class="button watcvidbtn trigger">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z" />
                    </svg>
                    PLAY FULL VIDEO
                  </a>
                    <div class="modais" id="youtube" data-izimodal-transitionin="fadeInDown" data-izimodal-title="Colorado Springs - Aerial Drone Video" data-izimodal-iframeurl="//vimeo.com/{{ site.content[0].videoid }}"></div>
                  </div>
                  <div class="col sharebtn">
                    <div class="addthis_inline_share_toolbox_7weq"></div>
                    <!-- <div class="addthis_sharing_toolbox" data-title="{{ site.content[0].slidertext2 }}" data-description="{{ site.about[0].abouttext2 }}" data-media="/img/aboutfly_bg.png"></div>                   -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </section>
    <section id="about" class="aboutsec" style="background-image:url({{ site.about[0].aboutbg }});background-repeat:no-repeat;background-position:right;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">
            <div class="about-body">
              <span>Fly My Community</span>
              <h2 class="video-title text-blue pb-4">{{ site.about[0].abouttext1 }}</h1>
              <p class="video-description">{{ site.about[0].abouttext2 }} </p>
          </div>
           
          </div>
          <!-- <div class="col"></div> -->
        </div>
      </div>
    </section>
    <section id="gallery" class="gallerysec py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" width="120" height="120">
              <g fill="#9dbfea">
                <path d="M0 167.85v216.2c0 33 26.8 59.8 59.8 59.8h370.4c33 0 59.8-26.8 59.8-59.8v-216.2c0-31.4-25.5-56.9-56.9-56.9h-79.6l-1.9-8.3c-7.7-33.3-37-56.5-71.2-56.5h-70.9c-34.1 0-63.4 23.2-71.2 56.5l-1.9 8.3H56.9c-31.4 0-56.9 25.6-56.9 56.9zm146.2-32.4c5.7 0 10.6-3.9 11.9-9.5l4.1-17.8c5.2-22.1 24.6-37.5 47.3-37.5h70.9c22.7 0 42.1 15.4 47.3 37.5l4.1 17.8c1.3 5.5 6.2 9.5 11.9 9.5H433c17.9 0 32.4 14.5 32.4 32.4v216.2c0 19.5-15.8 35.3-35.3 35.3H59.8c-19.5 0-35.3-15.8-35.3-35.3v-216.2c0-17.9 14.5-32.4 32.4-32.4h89.3z" />
                <circle cx="82.9" cy="187.75" r="16.4" />
                <path d="M245 380.95c56.7 0 102.9-46.2 102.9-102.9s-46.2-102.9-102.9-102.9-102.9 46.1-102.9 102.9 46.2 102.9 102.9 102.9zm0-181.3c43.2 0 78.4 35.2 78.4 78.4s-35.2 78.4-78.4 78.4-78.4-35.2-78.4-78.4 35.2-78.4 78.4-78.4z" />
              </g>
            </svg>
            <h2 class="mt-0 mb-5">Image Gallery</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Swiper -->
          <div class="row">
            <each loop='image of gallery.images'>
              <div class="col-md-4">
                <div class="gallery-list mb-4">
                  <a href="{{image.image}}" class="lightbox-link" data-lightbox="gallery" data-title="{{ image.caption}}">
                  <img src="{{image.thumbnail}}" class="img-fluid image">
                </a>
                  <div class="overlay">
                    <a href="{{image.image}}" class="lightbox-hover" data-lightbox="gallery">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.966 52.966" width="120" height="120"><g fill="#FFF"><path d="M28.983 20h-6v-6a1 1 0 0 0-2 0v6h-6a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2z"/><path d="M51.704 51.273L36.845 35.82c3.79-3.801 6.138-9.041 6.138-14.82 0-11.58-9.42-21-21-21s-21 9.42-21 21 9.42 21 21 21c5.083 0 9.748-1.817 13.384-4.832l14.895 15.491a.998.998 0 0 0 1.414.028 1 1 0 0 0 .028-1.414zM2.983 21c0-10.477 8.523-19 19-19s19 8.523 19 19-8.523 19-19 19-19-8.523-19-19z"/></g></svg>
                  </a>
                  </div>
                </div>
              </div>
            </each>
          </div>
        </div>
    </section>
    <section id="bioraphy">
      <div class="container">
        <h2 class="mt-0 mb-5 text-blue text-center">Agent</h2>
        <each loop='bio,idx
  of biography.biography'>
          <div class="card flex-row flex-wrap">

            <div class="card-header border-0">
              <img src="{{bio.image}}" class="card-img-top img-fluid" alt="biography" >
            </div>
              <div class="card-body">
                <h3 class="card-title">{{bio.fullname}}</h3>
                <p class="card-text"><a href="tel:{{bio.phone}}"  class="phone"><i class="fas fa-mobile-alt"></i>{{bio.phone}}</a></p>
                <p class="card-text"><a href="mailto:{{bio.email}}" class="email"><i class="fas fa-envelope"></i>{{bio.email}}</a></p>
                <p class="card-text">{{bio.position}}</p>
                <p class="card-text">{{bio.specialties}}</p>
                <p class="card-text pt-4 pb-3">{{ dataExcerpt(bio.description, '150') }}</p>
                <a class="btn btn-primary btn-blue" href="#inline-bio-{{idx}}" role="button" data-lity>Know More</a>

              </div>
            </div>

            <div id="inline-bio-{{idx}}" style="background:#fff" class="inline lity-hide">
              <div class="details pt-4 px-2">
                <h3 class="card-title">{{bio.fullname}}</h3>

                <p><a href="tel:{{bio.phone}}"><i class="fas fa-mobile-alt"></i>{{bio.phone}}</a></p>
                <p><a href="mailto:{{bio.email}}" class="email"><i class="fas fa-envelope"></i>{{bio.email}}</a></p>
                <p><a href="/" class="website"><i class="fas fa-globe-americas"></i>www.{{bio.website}}</a></p>
                <p> {{bio.position}}</p>
                <p>{{bio.specialties}}</p>
                <p>{{bio.license}}</p>
                <p>420 S 19th StColorado Springs, Colorado</p>

                <p class="pt-4  pb-3">{{bio.description}}</p>
              </div>
            </div>
        </each>
      </div>
    </section>
    <section id="copyright" class="footercopy">
      <div class="container">
        <div class="row">
          <div class="col text-left">
            <p>Copyright {{ new Date().getFullYear() }} <a href="https://flymycommunity.com" target="_blank"> FlyMyCommunity.com</a> | All Rights Reserved&nbsp; </p>
          </div>
          <div class="col text-right">
            <p>Designed by <a href="https://www.madcrane.com/" target="_blank">Mad Crane Marketing</a> - Powered by <a href="https://www.webriq.services/" target="_blank">WebriQ </a></p>
          </div>
        </div>
      </div>
    </section>
  </block>
</extends>
