.h2,
h2 {
  font-size: 3rem;
}

.btn-blue {
  color: #fff !important;
  border: solid 1px rgba(221, 221, 221, .34902);
  padding: 15px 35px;
  text-align: center;
  background: #4370b6;
  border-radius: 50px;
}

.stars i {
  color: #ffc000;
  position: relative;
  left: 0;
  margin: 0;
}

#main-slider {
  position: relative;
  width: 100%;
  padding: 150px 0;
  min-height: 570px;
}

#slider-content {
  padding: 0px 0px;
}

#slider-content span {
  padding: 20px 0px 5px;
  display: block;
  font-size: 26px;
  color: #fff;
}

#slider-content h1 {
  padding: 0px 0px;
  display: block;
  font-size: 66px;
  color: #fff;
}

#btnslidebtns {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 0px 25px;
  background: rgba(0, 0, 0, .41176);
}

#btnslidebtns .sharebtn {
  text-align: right;
}

#btnslidebtns .sharebtn a {
  border: solid 2px rgba(221, 221, 221, .50196);
  padding: 10px 12px 10px 12px;
  margin-right: 5px;
  border-radius: 30px !important;
  vertical-align: middle;
  background: transparent !important;
}

#btnslidebtns .sharebtn {
  padding-bottom: 0px;
}

#btnslidebtns .sharebtn a svg {
  vertical-align: middle;
}

.addthis_inline_share_toolbox_7weq .at-share-btn-elements {
  position: relative;
}

.addthis_inline_share_toolbox_7weq .at-share-btn-elements:before {
  content: "SHARE VIDEO:";
  display: block;
  z-index: 111;
  font-size: 16px;
  position: absolute;
  color: #fff;
  left: 50px;
  top: 25px;
}

#btnslidebtns .btnplay a {
  color: #fff;
  display: block;
  border: solid 1px rgba(221, 221, 221, .34902);
  width: 250px;
  padding: 15px 30px;
  text-align: center;
}

#btnslidebtns .btnplay:hover a {
  color: #fff;
  text-decoration: none;
  border-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

#btnslidebtns .btnplay svg {
  float: left;
  margin-right: 10px;
}

#btnslidebtns .btnplay svg path {
  fill: #fff;
}

#menu {
  border-bottom: solid 1px rgba(255, 255, 255, .21961);
  color: #fff;
  padding: 15px;
}

#menu .mail {
  padding: 35px 0px 0px;
}

#menu .conts {
  padding: 35px 0px 0px;
}

#menu .mail p a,
#menu .mail p {
  font-weight: 100;
  text-decoration: underline;
  color: #fff;
}

#menu .conts svg {
  display: inline-block;
  margin-right: 5px;
  top: 5px;
  position: relative;
}

#menu .conts svg path {
  fill: #fff;
}

#menu .conts a {
  padding: 20px 30px 20px 0px;
  border-radius: 30px;
  background-color: #356bb9;
  color: #fff;
}

#menu .conts a span {
  padding: 20px 10px 20px 20px;
  border-radius: 30px;
  background-color: #588fde;
  color: #fff;
  -webkit-box-shadow: 0px 1px 2px #224a88;
  box-shadow: 0px 1px 2px #224a88;
  margin-right: 10px;
}

#menu .mail svg {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#menu .mail svg path {
  fill: #fff;
}

.video-background {
  background: #000;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .75
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

/*#about {
  padding: 200px 0px;
  background: #202020;
  color: #fff;
  font-family: "Oswald", serif;
  background: #3c76c1 url(/img/aboutfly_bg.png) no-repeat right fixed !important;
}
*/

#about {
  background-image: url(/img/blue-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  color: #000;
  padding: 100px 0px;
  text-align: center;
}

#about:before {
  background: rgba(255, 255, 255, 0.86) !important;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/*.about-body {
  background: #fff;
  padding: 50px;
}
*/

#about span {
  font-size: 24px;
  color: #a5a5a5;
  font-weight: 100;
  letter-spacing: 3px;

}


#about h1 {
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-size: 50px;
}

#about p {
  letter-spacing: 1px;
  padding: 0px 150px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6em;
  font-weight: 100;
}

.details p {
  margin-bottom: 0;
}

#menu .conts a:hover {
  background-color: #417dd4;
  text-decoration: none;
}

/*Biography*/
#bioraphy {
  background: url(/img/white-bg.jpg) repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: 100px 0px;
}

.text-blue {
  color: #4a7dc7 !important;
}

.card-header {
  background: #fff;
  width: 380px;
}

.card-header .card-img-top {
  border-radius: 50%;
}

.card-body a {
  color: #4b7bbe;
}

.card-body a:hover {
  text-decoration: none;
  color: #89b9ff;
}

.card-body .card-text a {
  color: #4b7bbe;
}

.card-body .card-text a:hover {
  text-decoration: none;
  color: #89b9ff !important;
}

.card-body .email {
  color: #4b7bbe;
  font-weight: 200;
}

.card-body .email:hover {
  text-decoration: none;
  color: #89b9ff;
}

.inline .details a {
  color: #4b7bbe;
  font-weight: 200;
}

.inline .details a:hover {
  text-decoration: none;
  color: #89b9ff;
}

.details a {
  display: block;
}

#bioraphy p {
  font-weight: 200;
  margin-bottom: 0px;
}

#bioraphy h2 {
  position: relative;
  z-index: 9;
}

/*#bioraphy:before {
  background: #0000009c;
  width: 100%;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
}*/

#biography a {
  color: #fff;
  display: block;
  border: solid 1px rgba(221, 221, 221, .34902);
  width: 250px;
  padding: 15px 30px;
  text-align: center;
}

.user-img {
  border: 3px solid #e5e5e5;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 6px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.user-img:hover {
  border: 6px solid #89b9ff;
}

.profile {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
}




.btn-white {
  background: #fff;
  border: 2px solid #fff;
  color: #000;
  padding: 15px 25px;
  border-radius: 0px;
  text-transform: uppercase;
}


.btn-white:hover {
  outline: 0 !important;
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}



.btn-white:active,
.btn-white:focus {
  outline: 0 !important;
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

#bioraphy .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: #fff;
}


#bioraphy .swiper-pagination {
  left: 0;
  right: 0;
  bottom: 100px;
}


#bioraphy .swiper-pagination span {
  margin: 0 3px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url('/img/back.svg');
  left: 10px;
  right: auto;
  background-size: 50px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url('/img/next.svg');
  right: 10px;
  left: auto;
  background-size: 50px;
}

.inline {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  overflow-y: scroll;
}

.bioraphy-row .btn {
  position: relative;
  padding-left: 60px;
}

.bioraphy-row .btn .info-sign {
  background-image: url(/img/information.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  display: inline-block;
  line-height: -16px;
  top: 8px;
  left: 18px;
  top: 10px;
}

.bioraphy-row .btn:hover .info-sign {
  background-image: url(/img/information-white.svg);

}

#bioraphy .card {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* -webkit-box-shadow: 0px 0px 3px #c3c3c3; */
  /* box-shadow: 0px 0px 3px #c3c3c3; */
  background: transparent;
  border: 0px;
}

#bioraphy card-header {
  float: left;
}

#bioraphy .card-body {
  float: left;
  width: 300px;
  position: relative;
}

.card-body .card-text a {
  color: #4b7bbe;
  padding-left: 25px;
}

.card-body .card-text i {
  position: absolute;
  left: 25px;
  margin-top: 5px;
}

.details a {
  color: #4b7bbe;
  padding-left: 25px;
}

.details i {
  position: absolute;
  left: 30px;
  margin-top: 5px;
}

/*GALLERY*/
#gallery {
  background: #5b8ed0 url(/img/blue-bg.jpg);
  background-size: cover;
}

#gallery h2 {
  color: #f7f7f7;
}

svg {
  width: 3em;
}

#gallery .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#gallery .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

#gallery .gallery-btn {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.overlay {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.lightbox-link {
  background: #89b9ff;
  display: inline-block;
}

.gallery-list:hover .image {
  opacity: 0.3;
}

.gallery-list:hover .overlay {
  opacity: 1;
}

.gallery-list {
  border: 4px solid #9dbfea;
  -webkit-box-shadow: 3px 6px 25px rgba(0, 0, 0, .24);
  box-shadow: 3px 6px 25px rgba(0, 0, 0, .24);
}

/*COPYRIGHT*/

#copyright {
  padding: 30px 0px;
  background: #356bb9;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

#copyright a {
  color: #88b6fb;
}

#menu .mail,
#menu .conts,
.menusec .logo img,
.menusec {
  -webkit-transition: 600ms all ease-in-out;
  transition: 600ms all ease-in-out;
}

.menusec.fixed {
  position: fixed;
  width: 100%;
  background: #333;
  z-index: 1;
  -webkit-transition: 600ms all ease-in-out;
  transition: 600ms all ease-in-out;
}

.menusec.fixed .logo img {
  width: 160px;
  -webkit-transition: 600ms all ease-in-out;
  transition: 600ms all ease-in-out;
}

#menu.fixed .conts {
  padding: 15px 0px 0px;
  -webkit-transition: 600ms all ease-in-out;
  transition: 600ms all ease-in-out;
}

#menu.fixed .conts a {
  padding: 20px 25px 20px 0px;
  font-size: 12px;
}

#menu.fixed .conts a span {
  padding: 20px 10px 20px 20px;
  border-radius: 30px;
  background-color: #588fde;
  color: #fff;
  -webkit-box-shadow: 0px 1px 2px #224a88;
  box-shadow: 0px 1px 2px #224a88;
  margin-right: 10px;
}

#menu.fixed .mail {
  padding: 20px 0px 0px;
  -webkit-transition: 600ms all ease-in-out;
  transition: 600ms all ease-in-out;
}

#headers {
  position: relative;
}

#headers:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, .4902);
}

#menu.fixed {
  border-bottom: none;
}

@media(max-width:1024px) {
  body .btnplay {
    max-width: 33% !important;
  }

  .addthis_inline_share_toolbox_7weq .at-share-btn-elements:before {
    left: 120px;
  }

  #about {
    padding: 150px 0px;
    background: #202020 url(/img/aboutfly_bg.png) no-repeat right !important;
  }

}

@media(max-width:768px) {
  #main-slider {
    padding: 50px 0;
  }

  #menu .mail p a,
  #menu .mail p {
    font-size: 12px
  }

  #menu .conts a {
    padding: 13px 20px 13px 0px;
    font-size: 14px
  }

  #menu .conts a span {
    padding: 13px 2px 13px 10px;
  }

  #menu .mail svg {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 20px !important;
    margin-top: -1px
  }

  body .btnplay {
    max-width: 13% !important;
  }

  #btnslidebtns .btnplay a {
    color: #fff;
    width: auto;
    padding: 8px 18px 18px 15px;
    font-size: 0px;
    height: 50px;
  }

  #btnslidebtns .btnplay svg {
    width: 35px !important;
    height: 35px !important;
  }

  .addthis_inline_share_toolbox_7weq .at-share-btn-elements:before {
    font-size: 13px;
    left: 150px;
    top: 25px;
  }

  #main-slider {
    min-height: 470px;
  }

  body #about .col:nth-child(1) {
    min-width: 70% !important
  }

  #about {
    background-position: 100px !important;
  }

  #copyright .col {
    min-width: 100%;
    text-align: center !important;
  }
}

@media(max-width:640px) {
  #slider-content {
    text-align: center !important;
  }

  #slider-content span {
    font-size: 18px;
    font-weight: 100 !important;
  }

  #slider-content h1 {
    font-size: 40px;
  }

  #main-slider {
    padding: 50px 0;
  }

  .mail a {
    font-size: 0px !important;
  }

  .mail a svg {
    float: none !important;
    border: solid 1px;
    border-radius: 30px;
    min-width: 50px !important;
    min-height: 50px !important;
    display: block;
    padding: 10px;
    z-index: 0
  }

  #menu .conts a {
    padding: 13px 20px 13px 0px;
    font-size: 12px;
  }

  .btnplay {
    min-width: 100%;
    position: absolute;
    top: -120px;
    left: 0;
  }

  .btnplay a {
    font-size: 18px !important;
    width: 40% !important;
    margin: auto;
    height: 60px !important;
    padding-top: 15px !important;
  }

  #btnslidebtns .btnplay svg {
    margin-top: -4px
  }

  .sharebtn {
    min-width: 100%;
  }

  .addthis_inline_share_toolbox_7weq .at-share-btn-elements {
    text-align: center
  }

  .addthis_inline_share_toolbox_7weq .at-share-btn-elements:before {
    font-size: 13px;
    left: 0px;
    top: -20px;
    position: relative;
    display: block !important;
  }

  #btnslidebtns {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 55px 0px 25px;
    background: rgba(0, 0, 0, .41176);
  }

  #menu.fixed .mail {
    padding: 10px 0px 0px;
  }

  .menusec.fixed .logo img {
    width: 150px;
  }

  #menu.fixed .conts a {
    padding: 13px 20px 13px 0px;
    font-size: 12px;
  }

  #menu .conts a span {
    padding: 13px 2px 13px 10px !important;
  }

  #menu.fixed {
    border-bottom: none;
    z-index: 222 !important
  }

  body #about .col:nth-child(1) {
    min-width: 100% !important;
  }
}

@media(max-width:480px) {
  #menu {
    background: #89b9ff;
    padding: 0px 15px;
  }

  .logo.pt-4 {
    padding-top: 0px !important;
  }

  .mail,
  .conts {
    display: none;
  }

  body .logo img {
    width: 180px !important;
  }

  .btnplay a {
    font-size: 13px !important;
    width: 50% !important;
    margin: auto;
    height: 50px !important;
    padding-top: 15px !important;
  }

  #btnslidebtns .btnplay svg {
    float: left;
    margin-right: 0px;
  }

  #about {
    padding: 120px 30px
  }
}

@media(max-width:400px) {
  #about p {
    letter-spacing: 1px;
    padding: 0px 10px 0px 0px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6em;
    font-weight: 100;
  }
}


@media(max-width:375px) {
  .btnplay a {
    width: 55% !important;
  }

  #about h1 {
    font-size: 30px;
  }
}

@media(max-width:414px) {
  #about p {
    padding: 0px 10px 0px 0px;
  }

  #about h1 {
    font-size: 30px;
  }
}

@media(max-width:360px) {
  #btnslidebtns .sharebtn a {
    padding: 5px 5px 5px 5px;
  }

  #btnslidebtns .sharebtn a svg {
    padding: 5px
  }

  #copyright .text-right {
    padding: 10px 70px;
  }
}
